<footer class="mt-auto">
    <h2>Contato</h2>
    <ul>
      <li><i class="fa-solid fa-envelope"></i> livibellyrds@gmail.com </li>
      <li><i class="fa a-solid fa-linkedin-square"></i> www.linkedin.com/in/livibellyrds </li>
      <li><i class="fa-brands fa-whatsapp"></i> (21) 99466-0142 </li>
    </ul>
</footer>